<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("includes/head")%>
    <link rel="stylesheet" href="styles/err.css">
    <title>Document</title>
</head>
<body>
    <%-include("includes/header") %>
    <h1>404</h1>
    <h2>Go to hell!!</h2>
</body>
</html>