html{
    height: 100%;
    width: 100%;
}
body{
    background-image: url("../images/sky.png");
    height: 100%;
    width: 100%;
}
img{
    height: 20rem;
    width: 10rem;
}

#timer{
    position: fixed;
    top:5rem;
    width: 20rem;
    height: 6rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    border-radius: 0 0 10px 10px;
    margin-right: 0;
    background: linear-gradient(0deg,rgb(143, 70, 73),rgba(137, 18, 60, 0.218));
}
#clock{
    font-size: 2rem;
    display: inline;
    margin: auto;
    text-align: center;
}
.clock{
    font-size: 2rem;
    margin: auto;
    display: inline;
    text-align: center;
}
#angel{
    width: 5rem;
    height: 10rem;
}
#alastor{
    width: 7rem;
    height: 14rem;
}
#hotel{
    width: 500px;
    height: auto;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: -40px;
}

#over{
    width: 40%;
    height: 300px;
    position: fixed;
    top: 10rem;
    display: block;
    margin: 0 30%;
    border-radius: 5px;
    background-color: rgba(99, 17, 24,0.4);
    color:white;
    font-size: 2.4rem;
}

#over h2,p{
    text-align: center;
    color: burlywood;
}
#over p{
    font-size: 2rem;
}
