body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/Hell.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    background-color: rgba(0,0,0,0.7);
}

.card{
    margin: 7rem auto;
    width: 25rem !important;
    background-color: rgba(0,0,0,0.7);
    color: beige;
}

.card-body{
    width: 24rem;
    margin: 1rem auto;
}

.btn-primary{
    background-color: rgba(119, 59, 39, 0.695);
    border: none;
    color: blanchedalmond;
}

.btn-primary:hover{
    background-color: rgba(119, 59, 39, 0.695);
    border: none;
    color: orange;
}

.text-body-secondary{
    color: orange !important;
}

.card-link{
    margin: auto 2rem;
    text-decoration: none;
    color: orange;
}

.card-link:hover{
    color: orangered;
    text-shadow: 0 0 4px orange;
}

