html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
#logo{
    height: 5rem;
    width: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
#logo img{
    height: 5rem;
    display: inline;
}
nav{
    height: 5rem;
    width: 100%;
    padding: 0;
    background-color: rgb(147, 28, 68);
    color: bisque;
    display: flex;
    align-items: center;
}
nav ul{
    margin: 0;
    display: inline-flex;
    justify-content: center;
    list-style-type: none;
    width: 70%;
}

nav ul li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem;
    height: 100%;
}
nav a{
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
}
nav a:hover{
    color: burlywood;
    text-shadow: 0px 0px 4px orange;
}
 